source/packages
source/bin
source/obj
source/Spiro.Angular.v12.suo
source/Scripts/*.map
source/Scripts/spiro.config.js
source/Scripts/spiro.config.ts
source/Scripts/spiro.models.helpers.js
source/Scripts/spiro.models.helpers.ts
source/Scripts/spiro.models.shims.js
source/Scripts/spiro.models.shims.ts
source/Scripts/spiro.models.js
source/Scripts/spiro.models.ts
source/Tests/specs/maskService.js.map
source/Tests/specs/helpers.js.map
source/Tests/specs/colorService.js.map
source/Spiro.Angular.csproj.user
